<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products - Mobile Market</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
</head>
    {% include 'header.html' %}

{% block content %}

<body>
  <div class="container">
    <div class="table-row">
     <div class="table-cell" max-width=30px>
	 
                <h6>Pour créer un nouveau dossier, cliquer sur ce bouton : <button type="button"  class="btn btn-success float-right"
                data-toggle="modal" data-target="#mymodal">Créer un nouveau dossier</button> </h2>
				<br>
				<br>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                 
    {% for message in messages %}
                <div class="alert alert-success alert-dismissable" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="close">
                        <span aria-hidden="true">x</span>
                    </button>
                {{message}}
                </div>
                {% endfor %}
     
                {% endif %}
                {% endwith %}	 
	   <div id="mymodal" class="modal fade" role="dialog">
      <div class="modal-dialog">
     <div class="modal-content">
    <div class="modal-header"><h4 class="modal-title">Ajouter ce nouveau dossier</h4></div>
    <div class="modal-body">
     <form action="{{url_for('dossier.insertdoss')}}" method="POST" name="no_interne">
      <div class="form-group">
       <label>no_interne:</label>
       <input type="text" class="form-control" name="no_interne" required
               value="{{get_newnointerne}}"/>
      </div>
      <div class="form-group">
       <label>user_id:</label>
       <input type="text" class="form-control" name="user_id" required
               value="{{get_user_id}}"/>
      </div>
      <div class="form-group">
      <button class="btn btn-primary" type="submit">Ajouter ce nouveau dossier</button>
      </div>
     </form>
    </div>
    <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Abandonner la création de ce dossier</button>
    </div>
   </div>
   </div>
  </div>

	 
	 
<span>Vous avez sélectionné<br>{% for dossier in dossiers %}{% if loop.index == 1 %}{{ loop.length }}{% endif %}{% endfor %} dossier(s) :</span>
     <div class="form-inline">
{% for dossier in dossiers %}
	{% if loop.length == 1 %}
		<span>Vous avez sélectionné<br>le dossier ci-dessous.</span>
				<br><br><form action="/getdossier" method="post" name="no_interne">
            <input type="hidden" name="no_interne" value="{{dossier['no_interne']}}">
            <button type="submit" class="getdossier-button">{{ dossier.no_interne }}</button>
<br><a href="/bof">Sélectionner des parcelles pour ce dossier</a></li>

{% if nb_partagees > 0 %}
  <div class="alert alert-info my-3" role="alert" style="background-color: #dc3545; color: white;">
    <strong>{{ nb_partagees }}</strong> parcelle(s) du dossier courant sont partagées avec au moins un autre dossier.
  </div>
<a href="/control">Contrôle : voir les parcelles en concurrence ou successives pour ce dossier</a></li>
  
{% endif %}

        </form>
	{% else %}
		
		<form action="/getdossier" method="post" name="no_interne">
            <input type="hidden" name="no_interne" value="{{dossier['no_interne']}}">
            <button type="submit" class="getdossier-button">{{ dossier.no_interne }}</button>
        </form>
	{% endif %}
{% endfor %}
        </div>
        </div>
{% endblock %}
{% extends "layout.html"%}
{%block body%}

    <div class="container orders">

        <div class="order-list">
            {% for dossier in dossiers %}
			    {% if loop.length > 1 %}
					{% if loop.index == 1 %}
						<span>Merci de bien vouloir sélectionner 
						un dossier dans la liste de gauche
						pour en afficher les détails.</span>
					{% endif %}
				{% else %}
            <div class="order">
                <p>N°Dossier : {{ dossier.no_interne }}</p>
            <p>Date de dépôt : {{ dossier.date_de_depot }}</p>
			<p>Numéro pacage du demandeur : {{ dossier.no_pacage_demandeur }}</p>
			<p>Raison sociale du demandeur : {{ dossier.u_nom_raison_sociale }}</p>
            </div>
				{% endif %}
            {% endfor %}
        </div>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>
      </div>
    </div>
  </div>
  </body>

{%endblock%}
</html>